.site-header {
  //position: fixed;
  //position: relative;
  position: sticky;
  top: var(--siteTop, 0px);
  //top: 0;
  left: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  transition: top 500ms ease;
  &.scroll-up.scrolled-past-header,
  &:focus-within {
    top: var(--siteTop, 0px);
  }

  &.scroll-down.scrolled-past-header {
    //top: calc(-100% + var(--siteTop, 0px));
    top: -100%;
  }
}

.main-navigation {
  display: block;

  .site-menu-wrapper {
    position: fixed;
    top: var(--siteTop);
    left: 0;
    z-index: 10;
    display: none;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem 0.75rem;
    margin: 0;
    width: 40rem;
    max-width: 100%;
    background: var(--menuBackground);
    color: var(--menuColorText);
    font-family: var(--fontMono);
    border-radius: 0.25rem;
    height: 100vh;
    overflow: auto;
    //overflow: auto;
    //max-height: calc(100vh - 8rem);
    @media screen and (min-width: 40rem) {
      position: absolute;
      top: 1rem;
      left: 0.5rem;
      max-width: calc(100% - 1rem);
      height: auto;
      max-height: calc(100vh - var(--siteTop) - 1rem);
    }
    a {
      color: var(--menuColorLink);
      &:hover,
      &:focus {
        color: var(--menuColorLinkHover);
        text-decoration: underline;
      }
    }
    > .menu {
      flex: 0 0 50%;
      padding: 0.5rem 0.75rem;
    }
    #footer-menu {
      flex: 0 0 100%;
      font-size: 0.75rem;
      text-transform: uppercase;
      padding-top: 2rem;
      display: flex;
      flex-flow: row wrap;
      li {
        padding: 0 1rem 0 0;
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
  .site-menu-wrapper-close {
    width: 100%;
    .site-title {
      margin: 0;
      padding: 0.5rem 0.75rem 1rem;
      text-transform: uppercase;
    }
    button {
      font-size: 2rem;
      padding: 0.5rem;
      border: 0;
      &:hover,
      &:focus {
        color: var(--menuColorLinkHover);
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  li {
    position: relative;
    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
    text-decoration: underline;
  }
}

body.home {
  .site-title {
    a {
      text-decoration: underline;
    }
  }
}

/* Small menu. */
.menu-toggle {
  display: block;
}
.main-navigation.toggled {
  .site-menu-wrapper {
    display: flex;
  }
}

.site-utilities {
  font-size: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.site-cart-toggle {
  display: flex;
  border: 0;
}

.site-mask {
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.12);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
