.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.entry-header,
.entry-footer {
  max-width: var(--contentWidth);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}

.page-links {
  clear: both;
  margin: 0;
}

.entry-title {
  text-transform: uppercase;
  font-size: var(--fontSizeLarge);
}

.entry-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  p {
    margin-top: 0;
  }
  > p,
  > ul,
  > ol,
  > blockquote,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    width: var(--contentWidth);
    max-width: 100%;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}
[class^="wp-block"] {
  width: var(--contentWidth);
  max-width: 100%;
  padding-left: var(--padding);
  padding-right: var(--padding);
  &.alignwide {
    width: var(--wideWidth);
  }
  &.alignfull {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.wp-block-columns {
  padding-left: 0;
  padding-right: 0;
}
.wp-block-column {
  [class^="wp-block"] {
    padding-left: 0;
    padding-right: 0;
  }
  .wp-block-button__link {
    padding: 0.667em 1.333em;
  }
}
.wp-block-buttons > .wp-block-button,
.wp-block-button__link {
  width: auto;
}
.wp-block-button__link {
  padding: 0.667em 1.333em;
}
.wp-block-image img {
  display: block;
}
.wp-block-image figcaption {
  font-size: calc(0.875 * var(--fontSizeSmall));
  font-family: var(--fontMono);
}
/*
.wp-block-columns {
  @media screen and (min-width: 37.5rem) {
    width: 80rem;
  }
  @media screen and (min-width: 64rem) {
    width: 110rem;
  }
}
*/
/*
.entry-content {
  > p,
  > ul,
  > ol,
  > blockquote,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > *[class^="wp-block"] {
    max-width: var(--contentWidth);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
  > .wp-block-columns {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .alignfull {
    max-width: 100%;
  }
  .alignwide {
    max-width: var(--wideWidth);
  }
  .wp-block-group {
    padding-left: 0;
    padding-right: 0;
  }
  .wp-block-group__inner-container {
    > .has-text-align-left {
      margin-left: 0;
    }
  }
  .wp-block-column,
  .wp-block-group__inner-container {
    > p,
    > ul,
    > ol,
    > blockquote,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > *[class^="wp-block"] {
      max-width: var(--contentWidth);
      margin-left: auto;
      margin-right: auto;
      padding-left: var(--padding);
      padding-right: var(--padding);
    }
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      max-width: 100%;
    }
    > .alignfull {
      max-width: 100%;
    }
    > .alignwide {
      max-width: var(--wideWidth);
    }
  }
  .wp-block-column {
    p,
    .has-text-align-left {
      margin-left: 0;
    }
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 400;
  }
}
*/
