#product-data-id,
#product-data-title {
  display: none;
}
.product-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: var(--wideWidth);
  max-width: 100%;
  margin: auto;
  h2,
  h3,
  h4,
  h4,
  h5 {
    font-size: var(--fontSize);
  }
}
.product-info {
  flex: 0 0 100%;
  padding: 0 1rem 3rem;
  width: 100%;
  @media screen and (min-width: 35rem) {
    flex: 0 0 50%;
    width: 50%;
    order: 1;
    position: sticky;
    top: calc(1rem + var(--siteTop));
  }
}
.product-content {
  flex: 0 0 100%;
  width: 100%;
  padding: 0 0 3rem;
  @media screen and (min-width: 35rem) {
    flex: 0 0 50%;
    width: 50%;
    position: sticky;
    top: calc(1rem + var(--siteTop));
  }
}

.product-header {
  p {
    //font-size: var(--fontSizeSmall);
    font-size: calc(0.875 * var(--fontSizeSmall));
    margin: 0;
    padding: 0;
  }
}
.product-header-row,
.product-info-row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 1.5rem;
}
.product-header-column,
.product-info-column {
  padding-right: 1rem;
}
.product-stars {
  font-size: var(--fontSizeSmall);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  .stars-outlined,
  .stars-filled {
    display: flex;
    flex-flow: row wrap;
    .icon {
      display: none;
    }
  }
  &[data-rating="0"] {
    .stars-outlined {
      .icon {
        display: block;
      }
    }
  }
  &[data-rating="1"] {
    .stars-outlined {
      :nth-child(n + 2) {
        display: block;
      }
    }
    .stars-filled {
      :nth-child(-n + 1) {
        display: block;
      }
    }
  }
  &[data-rating="2"] {
    .stars-outlined {
      :nth-child(n + 3) {
        display: block;
      }
    }
    .stars-filled {
      :nth-child(-n + 2) {
        display: block;
      }
    }
  }
  &[data-rating="3"] {
    .stars-outlined {
      :nth-child(n + 4) {
        display: block;
      }
    }
    .stars-filled {
      :nth-child(-n + 3) {
        display: block;
      }
    }
  }
  &[data-rating="4"] {
    .stars-outlined {
      :nth-child(n + 5) {
        display: block;
      }
    }
    .stars-filled {
      :nth-child(-n + 4) {
        display: block;
      }
    }
  }
  &[data-rating="5"] {
    .stars-filled {
      .icon {
        display: block;
      }
    }
  }
}
.product-stars__icons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  padding-right: 0.5rem;
}
.product-stars__text {
  padding: 0;
  margin: 0;
}
.product-title {
  font-size: var(--fontSizeLarge);
}

.product-stock {
  color: var(--stockColorText);
}
.add-to-cart-wrapper,
.add-a-review-wrapper {
  flex: 1 0 40%;
  max-width: 20rem;
  button {
    width: 100%;
    font-family: var(--fontMono);
    font-size: var(--fontSizeSmall);
    padding: 0.75em 1em 0.5em;
    display: block;
  }
  button:disabled {
    opacity: 0.2;
    pointer-events: none;
  }
  span {
    padding-top: 0.5em;
    display: block;
    font-size: calc(0.875 * var(--fontSizeSmall));
    font-variation-settings: "wght" 700;
    .em-icon {
      font-size: 0.8rem;
      display: inline-block;
      text-align: center;
      border: 1px solid currentColor;
      padding: 0.2em;
      height: 2em;
      width: 2em;
      line-height: 1.5;
      margin-right: 0.3em;
      border-radius: 50%;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
    }
  }
}
.add-to-cart-wrapper {
  span {
    display: none;
  }
  button:disabled + span {
    display: block;
  }
}
.add-a-review-wrapper {
  button {
    background: var(--siteBackground);
    color: var(--colorText);
    &:hover {
      border-color: var(--colorButtonBackgroundHover);
      background: var(--colorButtonBackgroundHover);
      color: var(--colorButtonTextHover);
    }
    &:active,
    &:focus {
      border-color: var(--colorButtonBackgroundHover);
      background: var(--colorButtonBackgroundHover);
      color: var(--colorButtonTextHover);
    }
  }
}

.product-info__section {
  border-top: 1px solid var(--colorText);
  padding: 0.5rem 0;
  h3 {
    padding: 0 0 1rem 0;
  }
}
.product-info__section--text {
  button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 0;
    font-family: var(--fontMono);
    font-size: var(--fontSize);
    line-height: var(--lineHeightHeading);
    .expand-icon {
      display: inline-block;
    }
    .hide-icon {
      display: none;
    }
  }
  .product-info__section-content {
    display: none;
    font-size: var(--fontSizeSmall);
    ul,
    ol {
      padding: 0 0 0 1em;
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
  &.is-toggled {
    button {
      .expand-icon {
        display: none;
      }
      .hide-icon {
        display: inline-block;
      }
    }
    .product-info__section-content {
      display: block;
    }
  }
}

.product-customer-review {
  width: 100%;
  border-top: 1px solid var(--midGrey);
  &:first-of-type {
    margin-top: 0.25rem;
  }
}
.product-customer-review__header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  .product-stars {
    padding: 0.5rem 1em 0.5rem 0;
    width: 30%;
    font-size: calc(0.75 * var(--fontSizeSmall));
  }
  h4 {
    width: 65%;
    margin: 0;
    padding: 0.5rem 0;
    font-size: var(--fontSizeSmall);
    font-family: var(--fontSans);
  }
}
.product-customer-review__content {
  border-top: 1px solid var(--lightGrey);
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0.5rem 0;
  font-size: var(--fontSizeSmall);
  align-items: flex-start;
  justify-content: space-between;
  p {
    padding: 0;
    margin: 0;
  }
}
.product-customer-review__content-author {
  padding-right: 1em;
  width: 30%;
  font-size: calc(0.75 * var(--fontSizeSmall));
}
.product-customer-review__content-main {
  width: 65%;
  margin: 0;
  font-size: calc(0.875 * var(--fontSizeSmall));
}
