.site-cart-panel {
  position: fixed;
  z-index: 1001;
  right: 0;
  top: var(--siteTop);
  bottom: 0;
  background: var(--white);
  font-size: var(--fontSize);
  padding: 1rem;
  width: 40rem;
  max-width: 90%;
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
  overflow: auto;
  h3 {
    font-size: var(--fontSize);
    padding: 0 0 1rem;
  }
  .button {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    border-radius: 0.25em;
    font-family: var(--fontMono);
    font-size: var(--fontSizeSmall);
    padding: 0.675em 1em 0.5em;
  }
  &.site-cart-panel--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    .site-cart-contents {
      text-align: center;
    }
    .button {
      display: none;
    }
  }
}
.site-cart-contents {
  width: 100%;
  padding-bottom: 1rem;
  font-family: var(--fontMono);
  font-size: var(--fontSizeSmall);
}
.site-cart-contents-header {
  width: 100%;
}
.site-cart-contents-row {
  padding: 0.5rem 0;
  border-top: 0.0375em solid var(--lightGrey);
  width: 100%;
  .qty {
    font-size: 0.75em;
  }
}
.site-cart-panel-is-active {
  .site-cart-panel {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s;
  }
  .site-mask {
    display: block;
  }
}
