.menu-toggle {
  border: 0;
  background: transparent;
  font-size: var(--fontSize);
  line-height: 1;
  padding: 0;
  &:hover {
    border-color: transparent;
    background: transparent;
    color: var(--colorButtonTextHover);
  }
  &:active,
  &:focus {
    border-color: transparent;
    background: transparent;
    color: var(--colorButtonTextHover);
  }
  &:focus:not(:focus-visible) {
    outline: 0;
  }
  &:hover,
  &:focus {
    .site-logo-wrapper {
      --siteLogoColour1: var(--white);
      --siteLogoColour2: var(--black);
      --siteLogoColour3: var(--blue);
      --siteLogoColour4: var(--lightBlue);
      filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    }
    .close-part-a {
      transform: rotate(-90deg);
    }
    .close-part-b {
      transform: rotate(180deg);
    }
    .close-part-hidden {
      opacity: 0;
    }
  }
}
.site-logo-wrapper {
  display: block;
  font-size: 5rem;

  --siteLogoColour1: var(--white);
  --siteLogoColour2: var(--black);
  --siteLogoColour3: var(--blue);
  --siteLogoColour4: var(--lightBlue);
  height: 1em;
  width: 3.35em;
  overflow: hidden;
  @media screen and (min-width: 56.25rem) {
    height: auto;
    width: auto;
    display: flex;
  }
}

.site-logo {
  height: 1em;
  //width: 3.22841530054em;
  width: 7.353em;
  @media screen and (min-width: 56.25rem) {
    width: 7.353em;
  }
}
.site-logo--small {
  //display: block;
  display: none;
}
.site-logo--large {
  //display: none;
  display: block;
}
/*@media screen and (min-width: 56.25rem) {
  .site-logo--small {
    display: none;
  }
  .site-logo--large {
    display: block;
  }
}*/
.site-logo__menu {
  rect {
    fill: var(--siteLogoColour2);
  }
}

.close-part-a {
  transform: rotate(0deg);
  transition: transform 0.3s ease, fill 0.3s ease;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
.close-part-b {
  transform: rotate(0deg);
  transition: transform 0.3s ease, fill 0.3s ease;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
.close-part-hidden {
  opacity: 1;
  transition: opacity 0.3s ease, fill 0.3s ease;
}

.site-logo__globe-a__bg {
  fill: var(--siteLogoColour3);
  fill: transparent;
  transition: fill 0.3s ease;
}
.site-logo__globe-a__lines {
  fill: var(--siteLogoColour4);
  transition: fill 0.3s ease;
}
.site-logo__globe-a__text {
  fill: var(--siteLogoColour2);
  transition: fill 0.3s ease;
}
.site-logo__globe-b {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  animation: spinner 60s infinite linear;
  opacity: 0;
  @media screen and (min-width: 56.25rem) {
    opacity: 1;
  }
}
.site-logo__globe-b__bg {
  fill: var(--siteLogoColour4);
  fill: transparent;
  transition: fill 0.3s ease;
}
.site-logo__globe-b__text {
  fill: var(--siteLogoColour2);
  transition: fill 0.3s ease;
}
.site-logo__globe-c {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  animation: spinner 90s infinite linear;
  opacity: 0;
  @media screen and (min-width: 56.25rem) {
    opacity: 1;
  }
  path {
    fill: var(--siteLogoColour3);
    transition: fill 0.3s ease;
  }
}
.site-logo__chain {
  opacity: 0;
  @media screen and (min-width: 56.25rem) {
    opacity: 1;
  }
}
.site-logo__chain__circle-top {
  fill: var(--siteLogoColour4);
  transition: fill 0.3s ease;
}
.site-logo__chain__letter,
.site-logo__chain__circle-bottom {
  fill: var(--siteLogoColour2);
  transition: fill 0.3s ease;
}
.site-logo__text {
  fill: var(--siteLogoColour2);
  transform: translate3d(-55%, 0, 0);
  transition: transform 0.2s ease, fill 0.3s ease;
  @media screen and (min-width: 56.25rem) {
    transform: translate3d(0, 0, 0);
  }
}

.anim-spinner {
  animation: spinner 2s infinite linear;
}
