.site-review-panel {
  position: fixed;
  z-index: 1001;
  right: 0;
  top: var(--siteTop);
  bottom: 0;
  background: var(--white);
  font-size: var(--fontSize);
  padding: 1rem;
  width: 40rem;
  max-width: 90%;
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
  overflow: auto;
  h3 {
    font-size: var(--fontSize);
    padding: 0 0 1rem;
  }
}

.site-review-panel-is-active {
  .site-review-panel {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s;
  }
  .site-mask {
    display: block;
  }
}

#review-form {
  font-size: var(--fontSizeSmall);
  .comment-form-comment,
  .comment-form-rating,
  .comment-form-review-summary,
  .comment-form-author,
  .comment-form-email {
    margin: 0;
    padding: 0.5rem 0;
    border-top: 0.0375em solid var(--lightGrey);
    width: 100%;
    input {
      width: 100%;
      font-size: var(--fontSizeSmall);
      &.error {
        border-color: tomato;
      }
    }
  }
  .comment-form-comment {
    textarea {
      display: block;
      width: 100%;
      font-size: var(--fontSizeSmall);
      &.error {
        border-color: tomato;
      }
    }
  }
  .comment-form-cookies-consent {
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
    label {
      font-size: var(--fontSizeSmall);
    }
    input {
      &.error {
        box-shadow: 0px 0px 0px 1px tomato;
      }
    }
  }
  .comment-form-rating {
    p {
      margin: 0;
    }
    .review-rating-options {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
    }
    .review-rating-option {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      max-width: 20%;
      input {
        width: auto;
        margin: 0.2em 0 0.3em 0;
        display: inline-block;
      }
      label {
        padding: 0 1em 0 0.5em;
        cursor: pointer;
      }
    }
  }
  .form-submit {
    input.submit {
      text-align: center;
      text-decoration: none;
      display: block;
      width: 100%;
      border-radius: 0.25em;
      font-family: var(--fontMono);
      font-size: var(--fontSizeSmall);
      padding: 0.675em 1em 0.5em;
      //&:hover {
      //animation: wiggle 0.2s infinite linear;
      //}
    }
  }
}
.review-submitted-message {
  font-family: var(--fontMono);
  p {
    font-size: var(--fontSize);
    padding: 0 0 1rem;
  }
}
.close-review-panel {
  border-radius: 0.25em;
  font-family: var(--fontMono);
  font-size: var(--fontSizeSmall);
  padding: 0.675em 1em 0.5em;
  background: var(--lightBlack);
  border-color: var(--lightBlack);
  color: var(--white);
  &:hover {
    background: var(--black);
    border-color: var(--black);
    color: var(--white);
  }
  &:active,
  &:focus {
    background: var(--black);
    border-color: var(--black);
    color: var(--white);
  }
}
