.site-main {
  //padding-top: 10rem;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

#canvas {
  overflow: hidden;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  //transform: translate(-50%, -50%) scale(1);
  //filter: blur(7px) contrast(0.33) saturate(0.75) brightness(1.9);
}
