.page-template-front {
  --siteBackground: var(--midGrey);
  .site-utilities,
  .entry-footer {
    display: none;
  }
  .menu-toggle {
    opacity: 0;
    transition: opacity 1s ease;
  }
  .entry-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: opacity 1s ease, visibility 0s, max-height 1s ease;
  }
}

.front-page-init {
  .menu-toggle {
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    pointer-events: none;
    .site-logo-wrapper {
      width: 3.35em;
      height: 3.35em;
      display: block;
    }
    .site-logo {
      height: 100%;
      width: auto;
    }
    .site-logo__menu,
    .site-logo__text {
      opacity: 0;
    }
    .site-logo__chain,
    .site-logo__globe-b,
    .site-logo__globe-c {
      opacity: 1;
    }
    .site-logo__globe-a {
      transform: translate3d(0.1em, 0, 0) scale(0.4);
    }
    .site-logo__globe-b {
      transform: translate3d(-2.17em, 0, 0) scale(0.4);
      animation: none;
    }
    .site-logo__globe-c {
      transform: translate3d(-4.87em, 0, 0) scale(0.4);
      animation: none;
    }
    .site-logo__chain {
      transform: translate3d(-1.07em, 0.7em, 0) scale(0.4);
    }
  }
}

.front-page-entering {
  .menu-toggle {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .entry-content {
    opacity: 1;
    visibility: visible;
    height: auto;
    max-height: 100vh;
  }
}

.front-page-entered {
  .menu-toggle {
    opacity: 1;
  }
  .site-utilities {
    display: flex;
  }
  .entry-footer {
    display: block;
  }
  .entry-content {
    opacity: 1;
    visibility: visible;
    height: auto;
    max-height: none;
    overflow: visible;
    position: relative;
  }
}
