.page-template-wall-of-reviews {
  .site-header,
  .site-footer {
    display: none;
  }
  .site-main {
    padding: 0;
  }
}
.wall-of-reviews-wrapper {
  display: none;
  position: fixed;
  top: var(--siteTop);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  overflow: auto;
}
.is-idle {
  .site-header,
  .site-footer {
    display: none;
  }
  .site-main {
    padding: 0;
    display: none;
  }
  .wall-of-reviews-wrapper {
    display: block;
  }
}
.wall-of-reviews {
  position: relative;
  z-index: 1;
  padding: 0.5rem 1rem;
  .product-customer-review {
    @media screen and (min-width: 60rem) {
      --fontSizeSmall: 2rem;
    }
    --colorText: var(--white);
    color: var(--colorText);
    font-size: var(--fontSizeSmall);
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));
    border-top: 1px solid var(--white);
  }
  .product-customer-review__content {
    border-top: 1px solid var(--white);
  }
}
.site-bg-vid-wrapper--wall-of-reviews {
  z-index: 3;
  pointer-events: none;
  mix-blend-mode: difference;
}
.destroy-wall {
  position: fixed;
  top: calc(var(--siteTop) + 1rem);
  right: 1rem;
  z-index: 4;
  //mix-blend-mode: multiply;
  width: 6rem;
  height: 6rem;
  background: var(--magenta);
  border-color: var(--magenta);
  @media screen and (min-width: 40rem) {
    width: 10rem;
    height: 10rem;
  }
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: spinner 5s infinite linear;
  animation-play-state: paused;
  &:hover,
  &:focus {
    animation-play-state: running;
  }
}
