.page-template-map {
  margin: 0;
  min-height: calc(100vh - var(--siteTop));
  .entry-content {
    position: relative;
    z-index: 1;
  }
}
.map-mask {
  position: fixed;
  top: var(--siteTop);
  left: 0;
  right: 0;
  height: 6rem;
  z-index: 2;
  background-image: linear-gradient(
    180deg,
    var(--white) 30%,
    rgba(255, 255, 255, 0) 100%
  );
}

#map-embed {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  iframe {
    border: 0;
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    height: calc(100vh + 100px);
  }
}
