.page-template-your-cart {
  .checkout-wrapper {
    max-width: var(--contentWidth);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    position: relative;
  }
  .checkout-column {
    flex: 0 0 auto;
    width: 100%;
    padding-left: var(--padding);
    padding-right: var(--padding);
    @media screen and (min-width: 30rem) {
      width: 50%;
      position: sticky;
      top: var(--siteTop);
    }
  }
  #acf-form {
    font-size: var(--fontSizeSmall);
    .acf-required {
      color: var(--colorText);
      display: none;
    }
    .acf-icon {
      display: none;
    }
    .acf-fields.-clear > .acf-field {
      margin: 0;
    }
    .acf-field {
      padding: 0.5rem 0;
      //border-top: 0.0375em solid var(--lightGrey);
      border: 0;
      width: 100%;
      &:first-of-type {
        border-top: 0;
        padding-top: 0;
      }
      &[data-name="cart_contents"] {
        display: none !important;
      }
      .acf-label {
        margin: 0;
      }
      .acf-label label {
        font-weight: 400;
        margin: 0;
      }
      p.description {
        font-size: var(--fontSizeSmall);
        color: var(--colorTextSecondary);
      }

      input[type="text"],
      input[type="password"],
      input[type="date"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="email"],
      input[type="month"],
      input[type="number"],
      input[type="search"],
      input[type="tel"],
      input[type="time"],
      input[type="url"],
      input[type="week"],
      textarea,
      select {
        padding: calc(0.2 * var(--fontSize));
        font-size: var(--fontSize);
        line-height: var(--lineHeight);
        font-size: var(--fontSizeSmall);
      }
      textarea {
        display: block;
      }
    }
    .acf-form-submit {
      padding-top: 0.75em;
      .button {
        width: 100%;
        border-radius: 0.25em;
        font-family: var(--fontMono);
        font-size: var(--fontSizeSmall);
        padding: 0.675em 1em 0.5em;
        background: var(--lightBlack);
        border-color: var(--lightBlack);
        color: var(--white);
        &:hover {
          background: var(--black);
          border-color: var(--black);
          color: var(--white);
        }
        &:active,
        &:focus {
          background: var(--black);
          border-color: var(--black);
          color: var(--white);
        }
      }
    }
  }
}
