.page-template-front,
.page-template-background-video {
  .site-main {
    --colorText: var(--white);
    --colorLink: var(--white);
    --colorLinkHover: var(--lightBlue);
    color: var(--colorText);
    a {
      color: var(--colorLink);
      &:hover,
      &:focus {
        color: var(--colorLinkHover);
      }
    }
  }
  .site-utilities {
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));
  }
  .site-logo-wrapper {
    --siteLogoColour1: var(--white);
    --siteLogoColour2: var(--black);
    --siteLogoColour3: var(--blue);
    --siteLogoColour4: var(--lightBlue);
    filter: drop-shadow(0 0.05em 0.1em rgb(0 0 0 / 90%));
  }
  .menu-toggle {
    &:hover,
    &:focus {
      .site-logo-wrapper {
        --siteLogoColour1: var(--white);
        --siteLogoColour2: var(--white);
        --siteLogoColour3: var(--white);
        --siteLogoColour4: var(--white);
        filter: drop-shadow(0 0.05em 0.1em rgb(0 0 0 / 90%));
      }
    }
  }
  &.site-bg-vid-is-hidden {
    .site-logo-wrapper {
      --siteLogoColour1: var(--white);
      --siteLogoColour2: var(--black);
      --siteLogoColour3: var(--blue);
      --siteLogoColour4: var(--lightBlue);
      filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    }
    .site-main {
      --colorText: var(--colorText);
      --colorLink: var(--colorLink);
      --colorLinkHover: var(--colorLinkHover);
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      a,
      p,
      li {
        text-shadow: none;
      }
    }
  }
}
.site-bg-vid-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
}
.site-bg-vid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
.site-bg-vid-wrapper--has-mask {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--maskBackground, #fff);
    opacity: var(--maskOpacity, 0);
  }
}
.site-pip {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 12.5rem;
  max-width: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
}

.site-switch {
  display: flex;
  font-size: 2rem;
  border: 0;
  padding-right: 0.75rem;
  .switch-on {
    display: none;
  }
  .switch-off {
    display: block;
  }
}

.site-bg-vid-is-hidden {
  .site-switch {
    .switch-on {
      display: block;
    }
    .switch-off {
      display: none;
    }
  }
  .site-bg-vid-wrapper {
    display: none;
  }
  .site-pip {
    display: block;
  }
}
