.wp-block-acf-product-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  //width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 220px));
    grid-gap: 2rem;
    @media screen and (min-width: 60rem) {
      grid-template-columns: repeat(auto-fit, calc(25% - 1.5rem));
    }
  }
  color: var(--colorText);
  a {
    color: var(--colorLink);
    &:hover,
    &:focus,
    &:active {
      color: var(--colorLinkHover);
    }
  }
  .product-item {
    flex: 0 0 50%;
    padding: 0 0 3rem;
    @supports (display: grid) {
      padding: 0;
    }
    @media screen and (min-width: 50rem) {
      flex: 0 0 25%;
    }
    img {
      display: block;
      width: 100%;
      margin-bottom: 0.5em;
    }
    h2 {
      font-size: var(--fontSizeSmall);
      font-family: var(--fontSans);
      //text-transform: uppercase;
      margin: 0;
      padding: 0 0 0.25em;
      span {
        font-style: italic;
      }
    }
    p {
      //font-family: var(--fontMono);
      font-size: calc(0.75 * var(--fontSizeSmall));
      margin: 0;
      padding: 0 0 0.25em;
      line-height: 1.2;
      &:last-of-type {
        padding-bottom: 0;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        font-variation-settings: "wght" 400;
      }
      &:hover,
      &:focus,
      &:active {
        .product-item__stock {
          color: var(--colorLinkHover);
        }
      }
    }
  }
  .product-item__stock {
    color: var(--stockColorText);
  }
}

.block-editor__container {
  .wp-block-acf-is-empty {
    padding: 30px;
  }
}
