@mixin rotated-text(
  $num-letters: 100,
  $angle-span: 360deg,
  $angle-offset: 0deg
) {
  $angle-per-char: $angle-span / $num-letters;
  @for $i from 1 through $num-letters {
    .char#{$i} {
      transform: rotate($angle-offset + $angle-per-char * $i);
    }
  }
}

.wp-block-acf-text-circle {
  margin-bottom: 3rem;
  padding: 1em;
  @include rotated-text(24, 360deg, 0deg);
  overflow: hidden;
  @media screen and (min-width: 50rem) {
    font-size: calc(1.125 * var(--fontSize));
    width: auto;
    max-width: none;
  }
  .text-circle-content-wrapper {
    transform: rotate(var(--rotation, 0deg));
    width: 12rem;
    height: 12rem;
    @media screen and (min-width: 50rem) {
      width: 16rem;
      height: 16rem;
    }
  }
  .text-circle-content {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    text-transform: uppercase;
    animation: spinner 12s infinite linear;
    animation-play-state: running;
    &:hover,
    &:focus {
      animation-play-state: paused;
    }
  }
  span {
    top: 0;
    bottom: 6rem;
    height: 6rem;
    left: 0;
    margin: auto;
    width: 2rem;
    position: absolute;
    right: 0;
    text-align: center;
    transform-origin: center bottom;
    width: auto;
    @media screen and (min-width: 50rem) {
      bottom: 8rem;
      height: 8rem;
    }
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 50%;
    pointer-events: none;
  }
  &.wp-block-acf-text-circle--align-left {
    .text-circle-content-wrapper {
      margin: 0 auto 0 0;
    }
  }
  &.wp-block-acf-text-circle--align-right {
    float: none;
    .text-circle-content-wrapper {
      margin: 0 0 0 auto;
    }
  }
  &.wp-block-acf-text-circle--is-fixed {
    @media screen and (min-width: 50rem) {
      position: absolute;
      left: calc(var(--xValue) - 24rem);
      top: calc(var(--yValue) - 0%);
      z-index: 99;
    }
  }
}

.block-editor__container {
  .wp-block-acf-text-circle.wp-block-acf-text-circle--is-fixed {
    @media screen and (min-width: 50rem) {
      position: relative;
      left: auto;
      top: auto;
    }
  }
}
