h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 400;
  font-family: var(--fontHeading);
  font-size: var(--fontSize);
  padding: 2rem 0 1rem;
  margin: 0;
  line-height: var(--lineHeightHeading);
}
h1 {
  padding-top: 0;
  font-size: var(--fontSizeH1);
}
h2 {
  font-size: var(--fontSizeH2);
}
h3 {
  font-size: var(--fontSizeH3);
}
h4 {
  font-size: var(--fontSizeH4);
}
h5 {
  font-size: var(--fontSizeH5);
}
