.wp-block-acf-hero-text {
  --fontWeight: 200;
  --blockBackground: transparent;
  background: var(--blockBackground);
  color: var(--colorText);
  margin-bottom: 3rem;
  min-height: 40vh;
  /*
  @media screen and (min-width: 37.5rem) {
    width: 80rem;
  }
  @media screen and (min-width: 64rem) {
    width: 110rem;
  }
  */
  a {
    color: var(--colorLink);
    &:hover,
    &:focus,
    &:active {
      color: var(--colorLinkHover);
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-variation-settings: "wght" var(--fontWeight);
    font-family: var(--fontSans, "PublicSans");
    font-size: calc(2.5 * var(--fontSize, 16px));
    line-height: 1.1;
    @media screen and (min-width: 37.5rem) {
      font-size: calc(4 * var(--fontSize, 16px));
    }
    @media screen and (min-width: 64rem) {
      font-size: calc(4.5 * var(--fontSize, 16px));
    }
  }
  &.has-text-shadow {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    a {
      text-shadow: 0 0.05em 0.2em rgb(0 0 0 / 90%),
        0 0.05em 0.1em rgb(0 0 0 / 20%);
    }
  }
  &.has-block-background {
    padding: 1rem 2rem;
    border-radius: 1rem;
    max-width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  &.has-no-background {
    background: transparent !important;
  }
}
.block-editor__container {
  .wp-block-acf-hero-text {
    padding: 0.5em 1em;
    background: var(--lightGrey, #eee);
    border: 1px dotted grey;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--fontSans, "PublicSans");
      font-size: calc(5 * var(--fontSize, 16px));
    }
  }
}
