.comment-navigation,
.posts-navigation,
.post-navigation {
  font-family: var(--fontMono);

  .site-main & {
    max-width: var(--contentWidth);
    margin-left: auto;
    margin-right: auto;
    padding-top: calc(3 * var(--padding));
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  .nav-links {
    display: flex;
    flex-flow: row wrap;
    font-size: var(--fontSizeSmall);
    a {
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .nav-previous {
    flex: 0 0 100%;
  }

  .nav-next {
    //text-align: end;
    flex: 0 0 100%;
  }
}
