.wp-block-acf-marquee {
  --blockBackground: #3c4b55;
  --colorText: #fff;
  --colorLink: #fff;
  --colorLinkHover: var(--lightBlue);
  --blockFontSize: calc(1 * var(--fontSize, 16px));
  &.alignfull {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  &.has-no-background {
    --blockBackground: transparent !important;
  }
  &.has-text-shadow {
    a,
    span {
      text-shadow: 0 0.05em 0.2em rgb(0 0 0 / 90%),
        0 0.05em 0.1em rgb(0 0 0 / 20%);
    }
  }
  &.font-size-large {
    --blockFontSize: calc(1.5 * var(--fontSize, 16px));
  }
  &.font-size-xl {
    --blockFontSize: calc(3 * var(--fontSize, 16px));
  }
  .marquee {
    position: relative;
    overflow: hidden;
    --marqueeOffset: 0px;
    --moveInitial: calc(0% + var(--marqueeOffset));
    --moveFinal: calc(-100% + var(--marqueeOffset));
    --marqueeSpeed: 100;
    --marqueeWidth: 100%;
    --marqueeDuration: 5s;
    display: flex;
    //width: calc(100% - 2rem);
    //margin: 0 1rem 2rem;
    //border-radius: 2rem;
    width: 100%;
    margin: 0 0 3rem;
    background: var(--blockBackground);
    color: var(--colorText);
    font-family: var(--fontHeading);
  }
  .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
  }
  .marquee-init {
    .marquee__inner {
      will-change: transform;
      transform: translate3d(var(--moveInitial), 0, 0);
      animation: marquee var(--marqueeDuration) linear infinite;
      animation-play-state: running;
    }
    &:hover {
      .marquee__inner {
        animation-play-state: paused;
      }
    }
  }
  .marquee__inner {
    font-size: var(--blockFontSize);
    font-weight: 300;
    white-space: nowrap;
    a {
      text-decoration: none;
      color: var(--colorLink);
      &:hover,
      &:focus,
      &:active {
        color: var(--colorLinkHover);
        text-decoration: underline;
      }
    }
  }
  .marquee__item {
    padding: 0.325rem 2rem;
  }
  &.wp-block-acf-marquee--is-fixed {
    .marquee {
      position: fixed;
      bottom: 1.25rem;
      left: 0;
      right: 0;
      z-index: 99;
      margin: 0;
    }
  }
  &.wp-block-acf-marquee--no-autoplay {
    .marquee-init {
      .marquee__inner {
        animation-play-state: paused;
      }
      &:hover {
        .marquee__inner {
          animation-play-state: running;
        }
      }
    }
  }
  /*
  &.wp-block-acf-marquee--fast {
    .marquee-init {
      .marquee__inner {
        animation: marquee calc(var(--marqueeDuration) * 0.375) linear infinite;
      }
    }
  }
  &.wp-block-acf-marquee--dark {
    .marquee {
      background: purple;
      color: white;
    }
    .marquee__inner {
      a {
        color: white;
      }
    }
  }
  &.wp-block-acf-marquee--bright {
    .marquee {
      background: greenyellow;
      color: rgb(132, 0, 255);
    }
    .marquee__inner {
      a {
        color: rgb(132, 0, 255);
      }
    }
  }
  &.wp-block-acf-marquee--button {
    width: 10rem;
    .marquee {
      background: yellow;
      color: black;
      &:hover,
      &:focus {
        background: green;
        color: pink;
        a {
          text-decoration: underline;
        }
      }
    }
    .marquee__inner {
      text-align: center;
      a {
        color: currentColor;
      }
    }
    .marquee__item {
      width: 8rem;
      padding: 0.325rem 1rem;
    }
    .marquee-init {
      .marquee__inner {
        animation-play-state: paused;
      }
      &:hover {
        .marquee__inner {
          animation-play-state: running;
        }
      }
    }
  }
  */
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--moveInitial), 0, 0);
  }

  100% {
    transform: translate3d(var(--moveFinal), 0, 0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee__inner {
    animation: none !important;
  }
}

.block-editor__container {
  .wp-block-acf-is-empty {
    padding: 30px;
  }
  .wp-block-acf-marquee--is-fixed {
    .marquee {
      position: relative;
      bottom: auto;
      left: auto;
      right: auto;
      z-index: 1;
      margin: 0 0 3rem;
    }
  }
}
