body {
  --white: #fff;
  --black: #140106;
  --lightBlack: #282828;
  --grey: #e4e4e4;
  --lightGrey: #f5f5f5;
  --midGrey: #ababab;
  --darkGrey: #505050;
  --blue: #3c4b55;
  --lightBlue: #95cae7;
  --green: #0b9500;
  --magenta: #ff00ff;

  --colorText: var(--blue);
  --colorTextSecondary: var(--darkGrey);
  --colorLink: var(--blue);
  --colorLinkHover: var(--lightBlue);
  --colorButtonText: var(--white);
  --colorButtonTextHover: var(--lightGrey);
  --colorButtonBackground: var(--blue);
  --colorButtonBackgroundHover: var(--lightBlack);
  --siteBackground: var(--lightGrey);
  --colorBorder: var(--midGrey);
  --colorTextInput: var(--darkGrey);
  --colorBorderInput: var(--midGrey);
  --colorTextInputFocus: var(--lightBlack);
  --stockColorText: var(--green);

  //--menuBackground: var(--lightBlue);
  --menuBackground: rgba(170, 225, 255, 100%);
  --menuColorText: var(--blue);
  --menuColorLink: var(--blue);
  --menuColorLinkHover: var(--lightBlack);

  --fontSize: 1rem; //16px
  --fontSizeH1: calc(1.802 * var(--fontSize));
  --fontSizeH2: calc(1.602 * var(--fontSize));
  --fontSizeH3: calc(1.424 * var(--fontSize));
  --fontSizeH4: calc(1.266 * var(--fontSize));
  --fontSizeH5: calc(1.125 * var(--fontSize));
  --fontSizeSmall: calc(0.889 * var(--fontSize));
  --fontSizeLarge: calc(1.563 * var(--fontSize));
  --lineHeight: 1.75;
  --lineHeightHeading: 1.3;
  //--padding: 0.9375rem; //15px
  --padding: 1rem; //16px

  --contentWidth: calc(34 * var(--fontSize));
  --wideWidth: calc(64 * var(--fontSize));

  --siteTop: 0px;
  --headerHeight: 0;
  --accessBarHeight: 0;

  --fontSans: "PublicSans", "Helvetica", "Helvetica Neue", "Arial",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", sans-serif;
  --fontHeading: "OCRBPro", "PublicSans", "Helvetica", "Helvetica Neue", "Arial",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", sans-serif;
  --fontMono: "OCRBPro", "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;
  @media screen and (min-width: 25rem) {
    //400px
    --fontSize: 1.1875rem; //19px
    --padding: 1.1875rem; //19px
  }
  @media screen and (min-width: 37.5rem) {
    //width: 80rem;
    --contentWidth: calc(34 * var(--fontSize));
    --wideWidth: calc(68 * var(--fontSize));
  }
  @media screen and (min-width: 60rem) {
    // 1024px
    //width: 110rem;
    --contentWidth: calc(48 * var(--fontSize));
    --wideWidth: calc(80 * var(--fontSize));
  }
  @media screen and (min-width: 87.5rem) {
    //1400px
    --fontSize: 1.375rem; //22px
  }
}

body.admin-bar {
  --siteTop: 46px;
  @media screen and (min-width: 783px) {
    --siteTop: 32px;
  }
}
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

html {
  font-size: var(--fontSize);
}

body {
  width: 100%;
  min-height: calc(100vh - var(--siteTop));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--siteBackground);
  /*
  background-image: linear-gradient(
    45deg,
    #ababab 0%,
    #b2b2b2 14%,
    #bababa 29%,
    #c1c1c1 43%,
    #c9c9c9 57%,
    #d1d1d1 71%,
    #d8d8d8 86%,
    #e0e0e0 100%
  );
  */
  background-size: cover;
}
