a {
  color: var(--colorLink);
  transition: font-variation-settings 0.2s ease;
  &:hover {
    font-variation-settings: "wght" 900;
  }
  &:hover,
  &:focus,
  &:active {
    color: var(--colorLinkHover);
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active,
  &:focus:not(:focus-visible) {
    outline: 0;
  }
}
:focus:not(:focus-visible) {
  outline: none;
}

#wpadminbar {
  a {
    transition: none;
    &:hover {
      font-variation-settings: "wght" 400;
    }
  }
}
