.wp-block-acf-pip-video {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 12.5rem;
  max-width: 50%;
  z-index: 100;
  video {
    width: 100%;
    display: block;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }
}

.block-editor__container {
  .wp-block-acf-is-empty {
    padding: 30px;
  }
  .wp-block-acf-pip-video {
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    z-index: 1;
    margin: 0 0 3rem;
  }
}
