/* @import must be at top of file, otherwise CSS will not work */
//@import url("//hello.myfonts.net/count/3d8a40");

@font-face {
  font-family: "PublicSans";
  src: url("assets/fonts/PublicSans-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "PublicSans";
  src: url("assets/fonts/PublicSans-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "OCRBPro";
  src: url("assets/fonts/ocr-b.woff2") format("woff2"),
    url("assets/fonts/ocr-b.woff") format("woff");
}
