.wp-block-acf-box {
  --blockBackground: transparent;
  background: var(--blockBackground);
  color: var(--colorText);
  margin-bottom: 3rem;
  a {
    color: var(--colorText);
    &:hover,
    &:focus,
    &:active {
      color: var(--colorLinkHover);
    }
  }
  &.has-text-shadow {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    a {
      text-shadow: 0 0.05em 0.2em rgb(0 0 0 / 90%),
        0 0.05em 0.1em rgb(0 0 0 / 20%);
    }
  }
  &.has-block-background {
    padding: 1rem 2rem;
    border-radius: 1rem;
    max-width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  &.has-no-background {
    background: transparent !important;
  }
}
[class^="wp-block"] {
  .wp-block-acf-box {
    &.has-block-background {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
.block-editor__container {
  .wp-block-acf-box {
    padding: 0.5em 1em;
    background: var(--blockBackground, #eee);
  }
}
